<?xml version="1.0"?>
<config>
    <modules>
        <Cinasstore_Googleanalytics>
            <version>0.1.0</version>
        </Cinasstore_Googleanalytics>
    </modules>
    <frontend>
        <routers>
            <googleanalytics>
                <use>standard</use>
                <args>
                    <module>Cinasstore_Googleanalytics</module>
                    <frontName>googleanalytics</frontName>
                </args>
            </googleanalytics>
        </routers>
        <layout>
            <updates>
                <googleanalytics>
                    <file>googleanalytics.xml</file>
                </googleanalytics>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<googleanalytics>
				<use>admin</use>
				<args>
					<module>Cinasstore_Googleanalytics</module>
					<frontName>googleanalytics</frontName>
				</args>
			</googleanalytics>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<googleanalytics translate="title">
											<title>Google Analytics</title>
											<sort_order>50</sort_order>
										</googleanalytics>									
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>	
		<layout>
			<updates>
				<googleanalytics>
					<file>googleanalytics.xml</file>
				</googleanalytics>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<cinasstore_googleanalytics_observer>
						<type>singleton</type>
						<class>googleanalytics/observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</cinasstore_googleanalytics_observer>
		       </observers>				
			</controller_action_predispatch_adminhtml>
		</events>		
    </adminhtml>   
    <global>
		<events>
			<admin_system_config_changed_section_googleanalytics>
				<observers>
		          <cinasstore_googleanalytics_observer>
		            <type>singleton</type>
		            <class>googleanalytics/observer</class>
		            <method>saveGoogleanalyticsConfig</method>
		          </cinasstore_googleanalytics_observer>
		       </observers>			
			</admin_system_config_changed_section_googleanalytics>				
		</events>
        <models>
            <googleanalytics>
                <class>Cinasstore_Googleanalytics_Model</class>
                <resourceModel>googleanalytics_mysql4</resourceModel>
            </googleanalytics>
            <googleanalytics_mysql4>
                <class>Cinasstore_Googleanalytics_Model_Mysql4</class>
                <entities>
                    <googleanalytics>
                        <table>googleanalytics</table>
                    </googleanalytics>
                </entities>
            </googleanalytics_mysql4>
        </models>
        <resources>
            <googleanalytics_setup>
                <setup>
                    <module>Cinasstore_Googleanalytics</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </googleanalytics_setup>
            <googleanalytics_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </googleanalytics_write>
            <googleanalytics_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </googleanalytics_read>
        </resources>
        <blocks>
            <googleanalytics>
                <class>Cinasstore_Googleanalytics_Block</class>
            </googleanalytics>
        </blocks>
        <helpers>
            <googleanalytics>
                <class>Cinasstore_Googleanalytics_Helper</class>
            </googleanalytics>
        </helpers>
    </global>
	<default>
		<googleanalytics>
			<general>
				<show_number_of_comment>10</show_number_of_comment>
				<width_of_comment_box>642</width_of_comment_box>
				<language>en_US</language>
				
			</general>
		</googleanalytics>
	</default>
</config>